/* @font-face {
  font-family: "Allerta Stencil";
  src: url("/fonts/AllertaStencil.ttf") format("truetype");
} */
body{
  background: #102031;
}
.my-timepicker select:not([size]) {
  background-image: none; /* Remove the double arrow image */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
